<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>KeePassium</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>KeePass Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.keepassium.kdb</string>
				<string>com.keepassium.kdbx</string>
				<string>com.jflan.MiniKeePass.kdb</string>
				<string>com.jflan.MiniKeePass.kdbx</string>
				<string>com.kptouch.kdb</string>
				<string>com.kptouch.kdbx</string>
				<string>com.markmcguill.strongbox.kdb</string>
				<string>com.markmcguill.strongbox.kdbx</string>
				<string>be.kyuran.kypass.kdb</string>
				<string>com.maxep.mikee.kdb</string>
				<string>com.maxep.mikee.kdbx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>KeePass Key File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
            <key>appicon-atom-black</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-atom-black_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-atom-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-atom-blue_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-atom-white</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-atom-white_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-calc</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-calc_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-classic-free</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-classic-free_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-classic-pro</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-classic-pro_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-info</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-info_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-keepass</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-keepass_iPhoneApp_60</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>appicon-atom-black</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-atom-black_iPadApp_76</string>
                    <string>appicon-atom-black_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-atom-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-atom-blue_iPadApp_76</string>
                    <string>appicon-atom-blue_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-atom-white</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-atom-white_iPadApp_76</string>
                    <string>appicon-atom-white_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-calc</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-calc_iPadApp_76</string>
                    <string>appicon-calc_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-classic-free</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-classic-free_iPadApp_76</string>
                    <string>appicon-classic-free_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-classic-pro</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-classic-pro_iPadApp_76</string>
                    <string>appicon-classic-pro_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-info</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-info_iPadApp_76</string>
                    <string>appicon-info_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon-keepass</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon-keepass_iPadApp_76</string>
                    <string>appicon-keepass_iPadProApp_83.5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keepassium</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>KeePassium needs access to NFC to communicate with your YubiKey.</string>
	<key>NSCameraUsageDescription</key>
	<string>KeePassium needs the camera to scan QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use FaceID to unlock KeePassium</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>KeePassium needs permission to export files to your Photo Library.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>mailto</string>
        <string>https</string>
        <string>http</string>
        <string>ftp</string>
    </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.yubico.ylp</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.keepassium.keyfile</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdb)</string>
			<key>UTTypeIdentifier</key>
			<string>com.keepassium.kdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KeePass Database (kdbx)</string>
			<key>UTTypeIdentifier</key>
			<string>com.keepassium.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.jflan.MiniKeePass.kdb</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.jflan.MiniKeePass.kdb</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.jflan.MiniKeePass.kdbx</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.jflan.MiniKeePass.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.kptouch.kdb</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.kptouch.kdb</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.kptouch.kdbx</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.kptouch.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>be.kyuran.kypass.kdb</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>be.kyuran.kypass.kdb</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.markmcguill.strongbox.kdb</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.markmcguill.strongbox.kdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>kdb</string>
				<key>public.mime-type</key>
				<string>application/strongbox</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.markmcguill.strongbox.kdbx</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.markmcguill.strongbox.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>kdbx</string>
				<key>public.mime-type</key>
				<string>application/strongbox</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.maxep.mikee.kdb</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.maxep.mikee.kdb</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.maxep.mikee.kdbx</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.maxep.mikee.kdbx</string>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.keepassxc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<array>
					<string>application/x-keepass</string>
					<string>application/x-keepass2</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A000000527471117</string>
		<string>A0000006472F0001</string>
		<string>A0000005272101</string>
		<string>A000000308</string>
		<string>A000000527200101</string>
		<string>A0000005272001</string>
	</array>
</dict>
</plist>
